.idea
.vscode
ssl
venv/
node_modules/



aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ssssssssssssssssssssssssssssssssssssssss
ddddddddddddddddddddddddddddddddddddddd
ffffffffffffffffffffffffffffffffffffff